body{
    background: wheat;
    height: 270vh;
}
nav{
   background: #F0EEED;
   height: 200px;
   width: 100%;
}
ul{
    list-style-type: none;
    padding-right:50px ;
    text-align: right;
    margin-top: 50px;
}
li{
   display: inline-block;
   margin-inline: 3rem;
   text-decoration: none;

}
b{
    font-size: xx-large;
    position: absolute;
    top: 50px;
    left: 200px;
 }
 .shoppers{
    border-style: none;
 }
 .inputing{
   border-style: hidden;
   font-size: large;
 }
 .diveone{
    width: 400px;
    height: 220vh;
    border: 2px solid red;
    border-style: hidden;
    /* background-color: yellow; */
 }
 .shirts{
    width: 250px;
    height: 200px;
    border: 2px solid red;
    position: absolute;
    top: 400px;
    border-style: hidden;
 }
 em{
    position: absolute;
    left: 200px;
 }
 .fa-arrow-down-9-1{
    position: absolute;
    left: 300px;
    top: 310px;
 }
 .price{
    height: 150px;
    width: 300px;
    border: 2px solid red;
    position: absolute;
    top: 650px;
    border-style: hidden;
 }
 .round{
    border-radius: 100%;
    color: red;
    height: 20px;
    width: 20px;
    border-color: red;
    border: 2px solid red;
    background: red;
    border-style: hidden;
 }
 .price::after{
    content: "";
    background: red;
    display: block;
    width: 150px;
    height: 6px;
    position: absolute;
    top: 60px ;
    left: 13px;
 }
 .roundTwo{
    border-radius: 100%;
    color: red;
    height: 20px;
    width: 20px;
    border-color: red;
    border: 2px solid red;
    background: red;
    position: absolute;
    left: 168px;
    top: 702px;
    border-style: hidden;
 }
 .fifty{
    position: absolute;
    color: black;
    font-size: larger;
    top: 60px;
 
 }
 .twoHundre{
    position: absolute;
    color: black;
    font-size: larger;
    left: 3px;
    top: 10px;
 }
 .dives{
    
    color: red;
    height: 150px;
    width: 250px;
    border: 2px solid red;
    border-style: none;
    position: absolute;
    top: 830px;    
 }
 .colorings{
    color: black;
    font-size: larger;
 }
 .key-1{
    border-radius: 100%;
    color: red;
    height: 20px;
    width: 20px;
    border-color: red;
    border: 2px solid red;
    background: red;
    position: absolute;
 }
 .keys-2{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: green;
    border: 2px solid green;
    background: green;
    position: absolute;
    left: 40px;
 }
 .keying-3{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: yellow;
    border: 2px solid yellow;
    background: yellow;
    position: absolute;
    left: 74px;
 }
 .keying-4{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: pink;
    border: 2px solid pink;
    border-style: none;
    background: pink;
    position: absolute;
    left: 105px;
 }
 .keying-5{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: blueviolet;
    border: 2px solid blueviolet;
    border-style: none;
    background: blueviolet;
    position: absolute;
    left: 135px;
 }
 .keying-6{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: burlywood;
    border: 2px solid burlywood;
    border-style: none;
    background: burlywood;
    position: absolute;
    left: 150px;
    
 }
 .aqua{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: aqua;
    border: 2px solid aqua;
    border-style: none;
    background: aqua;
    position: absolute;
    top: 100px;
 }
 .wheat{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: wheat;
    border: 2px solid wheat;
    border-style: none;
    background: wheat;
    position: absolute;
    top: 100px;
    left: 30px;
 }
 .orange{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: orange;
    border: 2px solid orange;
    border-style: none;
    background: orange;
    position: absolute;
    top: 100px;
    left: 60px;
 }
 .orangered{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: orangered;
    border-style: none;
    border: 2px solid orangered;
    background: orangered;
    position: absolute;
    top: 100px;
    left: 88px;
    animation: jumping  3s ease-in-out alternate infinite ;
 }
 @keyframes  jumping{
    0%{
        top:0
    }
    50%{
        left:100px
    }
    100%{
        top:200px; left: 100px; right:100px
        
    }
 }
 .navy{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: blueviolet;
    border-style: none;
    border: 2px solid blueviolet;
    background: blueviolet;
    position: absolute;
    top: 100px;
    left: 120px;
    animation: row 3s infinite alternate;
 }
 @keyframes  row{
    0%{
        top:0
    }
    50%{
        left:100px
    }
    100%{
        top:200px; left: 100px; right:100px
        
    }
 }
 .glow{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: goldenrod;
    border-style: none;
    border: 2px solid goldenrod;
    background: goldenrod;
    position: absolute;
    top: 100px;
    left: 140px;
    animation: bounce 2s infinite alternate;
 }
 @keyframes  bounce{
    0%{
        top:0
    }
    50%{
        left:100px
    }
    100%{
        top:100px; left: 70px; right:200px
        
    }
 }
 .size{
    height: 250px;
    width: 300px;
    border: 2px solid red;
    position: absolute;
    top: 160px;
    border-style: none;
 }
 .smallx{
    color: black;
    position: absolute;
    left: 130px;
 }
 .XX{
    color: black;
    
    
 }
 .DressStyle{
    height: 250px;
    width: 300px;
    border: 2px solid red;
    position: absolute;
    top: 450px;
    border-style: none;
 
 }
 .lessThan{
    color: green;
    position: absolute;
    left: 200px;
    font-size: x-large;
 }
 .stylings{
    color: black;
    font-size: larger;
 }
 .ApplyF{
    background: black;
    height: 60px;
    width: 250px;
    border-radius: 2rem;
    position: absolute;
    top: 730px;
    color: #F0EEED;
    font-size: x-large;
    left: 50px;
 }
 .div-wears{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    left: 550px;
    top: 290px;
 }
 .div-wears2{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    left: 800px;
    top: 290px;
 }
 .div-wears3{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    left: 65rem;
    top: 290px;
 }
 .div-wears4{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:690px ;
    left: 550px;
 }
 .div-wears5{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:690px ;
    left: 800px;
 }
 .div-wears6{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:690px ;
    left: 65rem;
 }
 .div-wears7{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:1080px ;
    left: 550px;
 }
 .div-wears8{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:1080px ;
    left: 800px;
 }
 .div-wears9{
    height: 300px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top:1080px ;
    left: 65rem;
 }