:root{
    --bg-color:#ffffff;
    --text-color:#000000;
    --maibn-color:#f0f0f0;
    --other-color: #ffc633;
    --second-color: #616060;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.container{
    background-color: black;
    color: #fff;
    height: 70vh;
    width:90%;
    border-radius: 10px;
    box-shadow: 10px 0 10px rgba(0,0,0,0.2);
}

#holder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-buttom: 40px;
  
}
p{
    padding: 10px;
}
main{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.fa-solid{
    font-size: 30px;
    margin-bottom: 5px;
}
.fa-brands{
    font-size: 30px;
    margin-bottom: 5px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, auto));
    gap: 2rem;
    
  }
  .footer-box{
    display: flex;
    flex-direction: column;
  }
  .footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .footer-box a{
    color: var(--second-color);
    margin-bottom: 0.8rem;
    transition: all .50s ease;
  }
  .footer-box a:hover{
    transform: translateX(-5pv);
    color: var(--text-color);
  }
  .social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 17px;
    border-radius: 10px;
    margin-right: 14px;
    transform: transform 0.6s;
  }
  .social a:hover{
    transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
    color: var(--bg-color);
  }
  .copyright{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 14% 20px;
  }
  .end-text{
    font-size: 15px;
  }
  .end-img img{
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  footer{
    height: 150px;
    width: 100%;
    margin-top: 40px;
  }

  footer h3{
    color: #000000;
  }